__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
*.env
/env
ENV/

polenv/
/polenv/

.benchmarks/
.pytest_tmp/


conda-meta/
*.conda


.vscode/
.history/
*.code-workspace

*.log

.cache/